
	<section ng-class="{panelWrapperVisable: panelWigetWrapper}" class="main profile__container">

		
			<div class="activity-container__overview">
				<h2>recently viewed items</h2>
			</div>
			
			<!-- PROFILE FEEDS -->

		<div class="l-overview-container">

				<div class="l-overview-feed-column">

					<div class="overview-feed__img">
						<img src="http://graph.facebook.com/597080585/picture?width=200&amp;height=200" alt="Nate Smithen" class="profile_max150">
					</div>
					
					<div class="overview-feed__info">
						<a>
							<h3>Product Name</h3>
						</a>
						
						<div class="overview-feed-icons">

							<ul>
								<li>
									<div class="tip-left tip-top" data-tip="Seller name">
									<a class="overview-feed__profile-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-center tip-top" data-tip="Followers">
										<a class="overview-feed__followers-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-right tip-top" data-tip="Following">
										<a class="overview-feed__following-icon"></a>
									</div>
								</li>
							</ul>

						</div>

					</div>
				</div>
				
				<div class="l-overview-feed-column">

					<div class="overview-feed__img">
						<img src="http://graph.facebook.com/597080585/picture?width=200&amp;height=200" alt="Nate Smithen" class="profile_max150">
					</div>
					
					<div class="overview-feed__info">
						<a>
							<h3>Product Name</h3>
						</a>
						
						<div class="overview-feed-icons">

							<ul>
								<li>
									<div class="tip-left tip-top" data-tip="Seller name">
									<a class="overview-feed__profile-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-center tip-top" data-tip="Followers">
										<a class="overview-feed__followers-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-right tip-top" data-tip="Following">
										<a class="overview-feed__following-icon"></a>
									</div>
								</li>
							</ul>

						</div>

					</div>
				</div>

				<div class="l-overview-feed-column">

					<div class="overview-feed__img">
						<img src="http://graph.facebook.com/597080585/picture?width=200&amp;height=200" alt="Nate Smithen" class="profile_max150">
					</div>
					
					<div class="overview-feed__info">
						<a>
							<h3>Product Name</h3>
						</a>
						
						<div class="overview-feed-icons">

							<ul>
								<li>
									<div class="tip-left tip-top" data-tip="Seller name">
									<a class="overview-feed__profile-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-center tip-top" data-tip="Followers">
										<a class="overview-feed__followers-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-right tip-top" data-tip="Following">
										<a class="overview-feed__following-icon"></a>
									</div>
								</li>
							</ul>

						</div>

					</div>
				</div>

				<div class="l-overview-feed-column">

					<div class="overview-feed__img">
						<img src="http://graph.facebook.com/597080585/picture?width=200&amp;height=200" alt="Nate Smithen" class="profile_max150">
					</div>
					
					<div class="overview-feed__info">
						<a>
							<h3>Product Name</h3>
						</a>
						
						<div class="overview-feed-icons">

							<ul>
								<li>
									<div class="tip-left tip-top" data-tip="Seller name">
									<a class="overview-feed__profile-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-center tip-top" data-tip="Followers">
										<a class="overview-feed__followers-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-right tip-top" data-tip="Following">
										<a class="overview-feed__following-icon"></a>
									</div>
								</li>
							</ul>

						</div>

					</div>
				</div>

				<div class="l-overview-feed-column">

					<div class="overview-feed__img">
						<img src="http://graph.facebook.com/597080585/picture?width=200&amp;height=200" alt="Nate Smithen" class="profile_max150">
					</div>
					
					<div class="overview-feed__info">
						<a>
							<h3>Product Name</h3>
						</a>
						
						<div class="overview-feed-icons">

							<ul>
								<li>
									<div class="tip-left tip-top" data-tip="items">
									<a class="overview-feed__profile-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-center tip-top" data-tip="Followers">
										<a class="overview-feed__followers-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-right tip-top" data-tip="Following">
										<a class="overview-feed__following-icon"></a>
									</div>
								</li>
							</ul>

						</div>

					</div>
				</div>
				

			</div>


					


		<!--<section class="l-profile-activity-container">
				
			<div class="l-profile-list-inner">

				<div class="profile-list-wrappper">


					<div class="profile-list-inner__avtar-details pro-credential__avatar">
						<img src="http://graph.facebook.com/597080585/picture?width=120&amp;height=120" alt="Nate Smithen" class="profile_max150">
					</div>
					
					<div class="profile-activity-credentials">

						<a class="profile-name__small">Nate Smithen</a>
						<p>125 followers</p>

					</div>
					

					<a class="follow-button" ng-click="follow=true">
						<span ng-hide="follow" class="followering-icon followers-icon-inline"></span>
						<p class="follow-btn-text" ng-hide="follow">Following</p>
					</a>

					<a class="follow-button" ng-click="follow=false">
						<span ng-show="follow" class="followers-icon followers-icon-inline"></span>
						<p class="follow-btn-text" ng-show="follow">unfollow</p>
					</a>
				</div>


			</div>

	<!--	</section>-->
	</section>
