
<div class="nav-background" ng-class="{navBgVisable: navBgWrapper}">
   <ul id="navMenu">
       <li>
          <a ng-click="siteSearch()">
          <span class="navMenu__search-icon"></span>
            <p>Search</p>
          </a>
        </li>
        <li>
          <a ng-click="categorySearch()">
            <span class="navMenu__latest-icon"></span>
              <p>Latest Products</p>
            </a>
        </li>
        <li>
          <a ng-click="categorySearch()">
            <span class="navMenu__categories-icon"></span>
              <p>Filter</p>
            </a>
        </li>
        <li>
          <a ng-click="mixSearch()">
          <span class="navMenu__mix-icon"></span>
            <p>Music</p>
          </a>
        </li>
        <li>
          <a ng-click="">
          <span class="navMenu__more-icon"></span>
            <p>More</p>
          </a>
        </li>
        <li>
          <a>
          <span class="navMenu__help-icon"></span>
            <p>Help</p>
          </a>
        </li>
  </ul>
</div>