<main class="main-navigation">
  <nav ng-class="{navBgVisable: navBgWrapper}">
    <ul>
      <li>
        <a ng-click="siteSearch()">
          <p>Search</p>
        </a>

      </li>
      <li>
        <a ng-click="categorySearch()">
          <p>Filter</p>
        </a>
      </li>
      <li>
        <a ng-click="mixSearch()">
          <p>Music</p>
        </a>
      </li>
       <li>
        <a ng-click="">
          <p>More</p>
        </a>
       </li>
       <li>
        <a ng-click="">
          <p>Help</p>
        </a>
       </li>
    </ul> 
  </nav>

</main>








<!-- OLD CODE 

<section class="footerBar__container" ng-controller="navCtrl">
      <div class="footerBar__container_inner" ng-class="{'footerRiseLow': midRaise, 'footerRiseHigh': highRaise }">
       

     <div class="footerBar__inner">
        <span class="footerBar__avatar">
          <img class="footBar__img" src="app/styles/images/avatar.jpg"/>
          <p class="footBar__userName">Nate Knows</p>
        </span>

  

  
  <ul class="footerBar__listed-items">
       <li>
        <a href="#/profile">
          <span class="profile-icon"></span>
          <p>My Profile</p>
        </a>
      </li>
      <li >
        <a  ng-click="itemMenu()">
          <span class="items-icon"></span>
          <p>Items</p>
          <section ng-include="'./app/partials/items-menu.html'"></section>
        </a>
      </li>
       <li>
        <a ng-click="likeItems()">
          <span class="likeit-icon"></span>
          <p>Gone for it</p>
        </a>
      </li>
      <li>
          <a href="#/followers">
            <span class="followers-icon"></span>
            <p>Followers</p>
          </a>
      </li>
      <li>
            <a ng-click="followeringMenu()">
              <span class="followering-icon"></span>
              <p>Following</p>
            </a>
      </li>
      <li>
        <a>
          <span class="settings-icon"></span>
          <p>My Settings</p>
        </a>
      </li>
     
  </ul>
</div>
  <section ng-include="'./app/partials/like-items.html'"></section>
  <section ng-include="'./app/partials/following.html'"></section>
</div>
</section> 



<!-- FOOTER SECTION 

<main class="footer-nav">
  
  <div ng-class="{'footerRiseLow': midRaise, 'footerRiseHigh': highRaise}">
    <article>

      <figure>
        <img src="app/styles/images/avatar.jpg" title="profile name">
        <figcaption>
          <p>Nate Knows</p>
        </figcaption>
      </figure>

      <nav>
        <ul>
          <li>
            <a href="#/profile"></a>
            <p>Profile</p>
          </li>
        </ul>
      </nav>

    </article>
  </div>

</main>-->




<!--<main>
  <header id="l-nav-menu">

<a id="logo" href="#/home" alt="logo"></a>

  <a ng-click="mainNavMenu()" class="nav-menu__container">
    <span class="nav-menu__hamburger"></span>
    <p>Menu</p>
  </a>

</header>

<section ng-include="'./app/partials/nav-menu-widget.html'"></section>

<section class="menu-widget__wrapper" ng-class="{mainMainVisable: mainWidgetMenu}">

  <div class="search-input__wrapper" ng-class="{searchWrapperVisable: searchWigetWrapper}">
    <span class="search-input__icon"></span>
    <form action="#" method="post" onsubmit="return false;">
      <input type="text" class="search-form-control focus" data-ta-id="input">
    </form>
    
    <div class="s-placeholder__wrapper">
      <span class="s-placeholder__icon"></span>
      <p>Search for your desired items</p>
    </div>
  </div>

 <section ng-include="'./app/partials/browse-widget.html'"></section>
  <section ng-include="'./app/partials/mix-Menu-widget.html'"></section>

</section>



</main>

