<section ng-include="'./app/partials/nav-menu.html'"></section>
<section class="main profile__container">
	

<section ng-include="'./app/partials/user-profile-header.html'"></section>
	<!-- PROFILE ACTIVITY -->

		<section class="l-profile-activity-container">

			<div class="activity-container__overview">
				<h2>recently viewed items</h2>
			</div>
			
			<!-- PROFILE FEEDS -->

			<div class="l-overview-container">
				<div class="l-overview-feed-column">

					<div class="overview-feed__img">
						<img src="http://graph.facebook.com/597080585/picture?width=200&amp;height=200" alt="Nate Smithen" class="profile_max150">
					</div>
					
					<div class="overview-feed__info">
						<a>
							<h3>Product Name</h3>
							<p>Product Category</p>
						</a>
						
						<div class="overview-feed-icons">

							<ul>
								<li>
									<div class="tip-left tip-top" data-tip="Seller name">
									<a class="overview-feed__profile-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-center tip-top" data-tip="Followers">
										<a class="overview-feed__followers-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-right tip-top" data-tip="Following">
										<a class="overview-feed__following-icon"></a>
									</div>
								</li>
							</ul>

						</div>

					</div>
				</div>

				
			</div>

			<div class="activity-container__overview activity-container__lower">
				<h2>Saved items</h2>
			</div>

			<div class="l-overview-container l-overview-container-lower">
				<div class="l-overview-feed-column">

					<div class="overview-feed__img">
						<img src="http://graph.facebook.com/597080585/picture?width=200&amp;height=200" alt="Nate Smithen" class="profile_max150">
					</div>
					
					<div class="overview-feed__info">
						<a>
							<h3>Product Name</h3>
							<p>Product Category</p>
						</a>
						
						<div class="overview-feed-icons">

							<ul>
								<li>
									<div class="tip-left tip-top" data-tip="Seller name">
									<a class="overview-feed__profile-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-center tip-top" data-tip="Followers">
										<a class="overview-feed__followers-icon"></a>
									</div>
								</li>
								<li>
									<div class="tip-right tip-top" data-tip="Following">
										<a class="overview-feed__following-icon"></a>
									</div>
								</li>
							</ul>

						</div>

					</div>
				</div>
			</div>
			
		</section>
</section>

