<section class="l-profile-side-menu">
	<div class="profile-side_nav-container">
		<ul>
			<li class="profile-side__first-li">
				<a>
					<span class="items-icon"></span>
					<p>Items</p>
				</a>
			</li>
			<li>
				<a href="#/followers">
					<span class="followers-icon"></span>
					<p>Followers</p>
				</a>
			</li>
			<li>
				<a>
					<span class="followering-icon"></span>
					<p>Following</p>
				</a>
			</li>
			<li>
				<a>
					<span class="likeit-icon"></span>
					<p>Gone for it</p>
				</a>
			</li>
			<li>
				<a>
					<span class="notification-icon"></span>
					<p>Notifications</p>				
				</a>
				
			</li>
			<li>
				<a>
					<span class="settings-icon"></span>
					<p>My Settings</p>
				</a>
			</li>
			<li>
				<a>
					<span class="logOut-icon"></span>
					<p>Log Out</p>
				</a>
			</li> 
		</ul>
	</div>
</section>