<!-- BACKGROUND IMAGE -->
	<img src="app/styles/images/pattern.jpg" alt="Nate Smithen" class="profile-background-img">
	

	<div class="l-profile__inner">

		<header class="profile-credential__container">
			<div class="l-profile-details">
				<div class="pro-credential__avatar">
					<img src="http://graph.facebook.com/597080585/picture?width=150&amp;height=150" alt="Nate Smithen" class="profile_max150">
				</div>
			
					<h1 class="profile-name">
						Nate Smithen
					</h1>
			

				<div class="profile__credentials-text">
					<p>Tell the community a bit more about yourself.</p>
				</div>

			</div>
		</header>

	</div>