.browse-widget__wrapper, .searchWrapperVisable{
	display: none;
}

.browseWidgeVisable{
	transition: all 0.3s ease-out;
	display: block;
}

.browse-widget__listedItems{
	padding: 30px;
	font-family: $oswald;
	font-size: 13px;
	font-weight: 200;
	margin-top: 73px;
	li{
		color: #fff;
		padding: 2px 0;
	}
	li a{
		&:hover{
			color: #fff799;
		}
	}
}
 