
@media screen and (min-width: 1000px){
	.span_1_of_4 {
		width: 19%;
	}

	.span__item{
		width: 24.84%;
	}

	.l-widget-blocks{
		width: 22.4%;
	}
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
	.span_1_of_4 {
		width: 23.8%; 
	}

	.span__item{
		width: 33.19%;
	}

	.l-widget-blocks{
		width: 44.7%;
	}
}

@media screen and (min-width: 600px) and (max-width: 800px) {
	.span_1_of_4 {
		width: 49%; 
	}

	.span__item{
	width: 49.8%;
	}

	.l-widget-blocks{
		width: 94%;
	}
}

@media screen and (max-width: 600px) {
	.span_1_of_4 {
		width: 100%; 
	}

	.span__item{
		width: 100%;
	}
	
	.l-widget-blocks{
		width: 94%;
	}

}