
section.panel {
  background-color: #fff;
  position: fixed;
  top: 0px;
  right: 0;
  height: 100px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .35);
  z-index: 11;
  width: 72%;
  margin-right: -105%;
  height: 100%;
  @include transition(all 0.65s ease-in);
}

section.panel.open {
  margin-right: 0;
  overflow-y: scroll;
}

section.panel a.close {
  color: #fff799;
  position: absolute;
  left: 0px;
  right: 0;
  top:35%;
  width: 42px;
  z-index: 201;
  font-size: 34px;
  margin-right: 12px;
  text-align: center;
  background: #001101;
  border-radius: 3px;
}


.panelWrapperVisable{
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 82.3%;
  right: 0;
  top: 0;

}