select {
 	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
   	font-size:13px; 
    font-weight: bold;
   	padding:10px 16px 10px 12px ;
    margin: 3px 0 20px;
    border-radius: 0px;
    background: none;
    color:black;
    border: 3px solid #65C6BB;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 170px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select{
        padding-right:20px
     } 
}

label {
    position:relative;
}

label:after {
    content: "\25bc";
    color: #88898c;
    background-color: none;
    right:22px; 
    top: 0;
    position:absolute;
    pointer-events:none;
}

label:before {
    content: "\25bc";
    right:16px; 
    width:22px; 
    height:23px;
    top: 0;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}