<section ng-include="'./app/partials/nav-menu.html'"></section>

  <div class="l-productView">

    
     <div class="productView__half">
        <img class="productView__img" src="http://cdn.colette.fr/media/catalog/product/cache/1/image/500x/9df78eab33525d08d6e5fb8d27136e95/0/0/0000011482222_img_3576-copie.jpg" alt="seller-avator">
    

    
    <div class="l-productView-details">
      

      <div class="p_view-title">
          <h1>YMC</h1>
          <p>YMC v Mc Ginn Slim (blonde)</p>

          <div class="productView__p-details">
            <span class="p-price">
              €199.99
            </span>
            <a href="/" class="product-view__retailerLink">at 
                <span>YMC</span>
            </a>
          </div>
      </div>
      
      <ul class="product-view__elements">

        <li>
          <a class="likeIt likeIt__success" ng-click="successLikeIt()">
            <span class="likeit-pv-icon"></span>
            <p>Go for it</p>
          </a>
        </li>

        <li>
          <a href="/">
            <span class="shareit-pv-icon"></span>
            <p>Share</p>
        </a>
      </li>

      <li>
          <a href="/">
            <span class="add-pv-icon"></span>
            <p>Add</p>
        </a>
      </li>

      <li>
          <a href="/">
            <span class="follow-pv-icon"></span>
            <p>Follow Brand</p>
        </a>
      </li>


      <li>
          <a href="/">
            <span class="save-pv-icon"></span>
            <p>Save</p>
        </a>
      </li>

    </ul>

      <p class="productView__desc">The prolific Marcelo Burlon, omnipresent in domains as vast as design, photography, clubbing or art direction, presents his new collection of clothes, drawing iconographic elements from different cultures (Mapuche and Tehuelche) and even esoterism.</p>

      <ul class="productView__btns">
        <li class="productView__buy"><a href="/"></a>Buy on store</li>
      </ul>

    </div>


  </div>


  <div class="productView">
    

    <div class="activity-container__overview productView__reccomendations">
        <h2>More items</h2>
    </div>

    <div class="section group">

      <div class="col span_1_of_4">
            <div class="l-overview-feed-column">
              <div class="overview-feed__img">
                <img src="http://cdn.colette.fr/media/catalog/product/cache/1/image/500x/9df78eab33525d08d6e5fb8d27136e95/0/0/0000011372653_img_5256.jpg" alt="Nate Smithen" class="profile_max150">
            </div>
            
            <div class="overview-feed__info">
                <a>
                  <h3>Product Name</h3>
                  <p>Product Category</p>
                </a>
                
                 <div class="overview-feed-icons">
                    <ul>
                      <li>
                        <div class="tip-left tip-top" data-tip="Seller name">
                        <a class="overview-feed__profile-icon"></a>
                        </div>
                      </li>
                      <li>
                        <div class="tip-center tip-top" data-tip="Followers">
                          <a class="overview-feed__followers-icon"></a>
                        </div>
                      </li>
                      <li>
                        <div class="tip-right tip-top" data-tip="Following">
                          <a class="overview-feed__following-icon"></a>
                        </div>
                      </li>
                    </ul>
                 </div>

            </div>

          </div>
    </div>
    
    <div class="col span_1_of_4">
            <div class="l-overview-feed-column">
              <div class="overview-feed__img">
                <img src="http://cdn.colette.fr/media/catalog/product/cache/1/image/500x/9df78eab33525d08d6e5fb8d27136e95/h/a/haas1.jpg" class="profile_max150">
            </div>
            
            <div class="overview-feed__info">
                <a>
                  <h3>Product Name</h3>
                  <p>Product Category</p>
                </a>
                
                 <div class="overview-feed-icons">
                    <ul>
                      <li>
                        <div class="tip-left tip-top" data-tip="Seller name">
                        <a class="overview-feed__profile-icon"></a>
                        </div>
                      </li>
                      <li>
                        <div class="tip-center tip-top" data-tip="Followers">
                          <a class="overview-feed__followers-icon"></a>
                        </div>
                      </li>
                      <li>
                        <div class="tip-right tip-top" data-tip="Following">
                          <a class="overview-feed__following-icon"></a>
                        </div>
                      </li>
                    </ul>
                 </div>

            </div>

          </div>
    </div>

       <div class="col span_1_of_4">
            <div class="l-overview-feed-column">
              <div class="overview-feed__img">
                <img src="http://cdn.colette.fr/media/catalog/product/cache/1/image/500x/9df78eab33525d08d6e5fb8d27136e95/0/0/0000011372653_img_5256.jpg" alt="Nate Smithen" class="profile_max150">
            </div>
            
            <div class="overview-feed__info">
                <a>
                  <h3>Product Name</h3>
                  <p>Product Category</p>
                </a>
                
                 <div class="overview-feed-icons">
                    <ul>
                      <li>
                        <div class="tip-left tip-top" data-tip="Seller name">
                        <a class="overview-feed__profile-icon"></a>
                        </div>
                      </li>
                      <li>
                        <div class="tip-center tip-top" data-tip="Followers">
                          <a class="overview-feed__followers-icon"></a>
                        </div>
                      </li>
                      <li>
                        <div class="tip-right tip-top" data-tip="Following">
                          <a class="overview-feed__following-icon"></a>
                        </div>
                      </li>
                    </ul>
                 </div>

            </div>

          </div>
    </div>

       <div class="col span_1_of_4">
            <div class="l-overview-feed-column">
              <div class="overview-feed__img">
                <img src="http://cdn.colette.fr/media/catalog/product/cache/1/image/500x/9df78eab33525d08d6e5fb8d27136e95/0/0/0000011372653_img_5256.jpg" alt="Nate Smithen" class="profile_max150">
            </div>
            
            <div class="overview-feed__info">
                <a>
                  <h3>Product Name</h3>
                  <p>Product Category</p>
                </a>
                
                 <div class="overview-feed-icons">
                    <ul>
                      <li>
                        <div class="tip-left tip-top" data-tip="Seller name">
                        <a class="overview-feed__profile-icon"></a>
                        </div>
                      </li>
                      <li>
                        <div class="tip-center tip-top" data-tip="Followers">
                          <a class="overview-feed__followers-icon"></a>
                        </div>
                      </li>
                      <li>
                        <div class="tip-right tip-top" data-tip="Following">
                          <a class="overview-feed__following-icon"></a>
                        </div>
                      </li>
                    </ul>
                 </div>

            </div>

          </div>
    </div>


    <div class="col span_1_of_4">
            <div class="l-overview-feed-column">
              <div class="overview-feed__img">
                <img src="http://cdn.colette.fr/media/catalog/product/cache/1/image/500x/9df78eab33525d08d6e5fb8d27136e95/0/0/0000011372653_img_5256.jpg" alt="Nate Smithen" class="profile_max150">
            </div>
            
            <div class="overview-feed__info">
                <a>
                  <h3>Product Name</h3>
                  <p>Product Category</p>
                </a>
                
                 <div class="overview-feed-icons">
                    <ul>
                      <li>
                        <div class="tip-left tip-top" data-tip="Seller name">
                        <a class="overview-feed__profile-icon"></a>
                        </div>
                      </li>
                      <li>
                        <div class="tip-center tip-top" data-tip="Followers">
                          <a class="overview-feed__followers-icon"></a>
                        </div>
                      </li>
                      <li>
                        <div class="tip-right tip-top" data-tip="Following">
                          <a class="overview-feed__following-icon"></a>
                        </div>
                      </li>
                    </ul>
                 </div>

            </div>

          </div>
    </div>


    <div class="col span_1_of_4">
            <div class="l-overview-feed-column">
              <div class="overview-feed__img">
                <img src="http://cdn.colette.fr/media/catalog/product/cache/1/image/500x/9df78eab33525d08d6e5fb8d27136e95/0/0/0000011372653_img_5256.jpg" alt="Nate Smithen" class="profile_max150">
            </div>
            
            <div class="overview-feed__info">
                <a>
                  <h3>Product Name</h3>
                  <p>Product Category</p>
                </a>
                
                 <div class="overview-feed-icons">
                    <ul>
                      <li>
                        <div class="tip-left tip-top" data-tip="Seller name">
                        <a class="overview-feed__profile-icon"></a>
                        </div>
                      </li>
                      <li>
                        <div class="tip-center tip-top" data-tip="Followers">
                          <a class="overview-feed__followers-icon"></a>
                        </div>
                      </li>
                      <li>
                        <div class="tip-right tip-top" data-tip="Following">
                          <a class="overview-feed__following-icon"></a>
                        </div>
                      </li>
                    </ul>
                 </div>

            </div>

          </div>
    </div>




</div>

          
</div>


    




  </div>

</div>